.DS_Store
__pycache__/
downloads/
*.pyc
*.log
*.html
*.js
*.mpd
*.m3u
*.m3u8
*.ts
*.mkv
*.mp4
*.m4s
*.m4a
*.aac
*.srt
*.vtt
*.log
*.zip
*.js
*.html
*.jpg
*.png
*.webp
*.torrent
raw.json
cookies/*_cookies.txt
summary.txt
test.py
my_credential.json
.vscode
